.sidebar {
  height: 100vh;
  left:0;
  width: 250px; 
  background: var(--sidebar-color);
  color: var(--text-color);
  position: fixed;
  box-shadow: 4px 0 12px var(--shadow-color);
  backdrop-filter: blur(5px);
  border-right: 2px solid var(--input-border-color);
  z-index: 1000;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 8px;
}

.sidebar-item:hover {
  background: var(--sidebar-hover);
}

.sidebar-item a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.sidebar-item .icon {
  font-size: 22px;
  transition: color 0.3s ease-in-out;
}